<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>da-ival</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/index.css}" rel="stylesheet"/>
</head>
<body style="background-color: #e6e6e6">
<div class="layui-fluid">
    <div class="layui-row">
        <a href="#">
            <div class="layui-col-md2">
                DA-IVAL
            </div>
        </a>
        <a href="#">
            <div class="layui-col-md1">
                Dags
            </div>
        </a>
        <a href="">
            <div class="layui-col-md1">
                Monitor
            </div>
        </a>
        <div class="layui-col-md8">
            <a href="">
                <span class="banner-right-item">DOC</span>
            </a>
            <a href="">
                <span class="banner-right-item">XXXX</span>
            </a>
        </div>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-col-md5">
            用户
        </div>
        <div class="layui-col-md7">
            <button class="layui-btn layui-btn-normal" onclick="addUser()">新建</button>
        </div>
    </div>
    <div class="layui-card-body">
        <table class="layui-table" lay-even lay-skin="nob">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>#</th>
                <th>用户名</th>
                <th>昵称</th>
                <th>邮箱</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a:${msg}">
                <td ><a href="./dag/usr_bgx765h31107" class="drags-id">usr_bgx765h31107</a> </td>
                <td>usr</td>
                <td>23</td>
                <td>XXXX</td>
                <td>2018-11-19 15:36:26</td>
                <td>
                    <button class="layui-btn layui-btn-xs">成功</button>
                </td>
                <td>
                    <button class="layui-btn layui-btn-normal layui-btn-xs">修改</button>
                    <button class="layui-btn layui-btn-normal layui-btn-xs">禁用</button>
                    <button class="layui-btn layui-btn-normal layui-btn-xs">删除</button>
                    <button class="layui-btn layui-btn-normal layui-btn-xs">配置权限</button>
                    <button class="layui-btn layui-btn-normal layui-btn-xs">配置权限组</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/static/layui/layui.all.js}"></script>
<script th:src="@{/static/js/user.js}"></script>
</body>
</html>
